#berat {
  padding: 0.375rem 0.75rem !important;
}

#loading_raj {
  text-align: center;
}

.bg-primary {
  background-color: #382b73 !important;
  color: #fff !important;
}

.badge-primary {
  color: #fff;
  background-color: #382b73 !important;
}

.text-primary {
  color: #382b73 !important;
}

.working {
  background: url("../assets/pulse.gif") no-repeat right center;
}

@media (max-width: 575.98px) {
  .ui-autocomplete-input,
  .ui-corner-all,
  #berat {
    font-size: 0.75em !important;
    font-weight: 400 !important;
  }
}
